@import url("https://fonts.googleapis.com/css?family=Kulim+Park:300,400,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: 'Kulim Park', sans-serif;
    font-size: 62.5%;
    display: flex;
    justify-content: flex-start;
}

.content {
    flex: 0 0 88%;
}

.toggle {
    width: 1rem;
    height: auto;
    position: absolute;
    right: 0;
    top: -25%;
    margin: 2.5px;
}
.toggle__item {
    width: 100%;
    height: 3px;
    background: white;
    margin-bottom: 3px;
    transition: all .1s;
}

.sidebar {
    flex: 0 0 12%;
    background-color: #492d5e;
    display: flex;
    flex-direction: column;
}
.sidebar__toggle {
    height: 1.5rem;
    width: 100%;
    position: relative;
}
.sidebar__profile {
    flex: 0 0 28%;
    padding: 0.5rem;
    background-image: linear-gradient(to right bottom, rgba(74, 57, 91, 0.7), rgba(108, 85, 132, 0.7)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfoRDI0Dk1P6B9PqyMnejXCyT74c6iZ48WPNA7eojJfsCli1Uv);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sidebar__image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.sidebar__user {
    font-size: .8rem;
    color: white;
    font-weight: 400;
}
.sidebar__button {
    background: none;
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: .5rem;
    color: white;
    font-size: .5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sidebar__button:hover {
    outline: none;
    cursor: pointer;
}
.sidebar__menu {
    flex: 0 0 62%;
    list-style: none;
}
.sidebar__item-header {
    font-size: .7rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: .1px solid #5e5067;
    color: #896449;
    padding: .5rem 0 .5rem .5rem;
}
.sidebar__item {
    border-bottom: .1px solid #5e5067;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar__item:hover {
    background-color: #553a6f;
}
.sidebar__item:hover > svg {
    transform: rotate(90deg);
}
.sidebar__icon {
    height: .8rem;
    width: .8rem;
    fill: white;
    margin-right: .5rem;
    transition: all .1s;
}
.sidebar__link {
    text-decoration: none;
    font-size: .7rem;
    font-weight: 400;
    padding: .5rem 0 .5rem .5rem;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
